* {
  margin:0; padding:0;
}

body{
  background-color: #EEF5DB;
}

#titleText{
  position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 100px;
  color: #D64933;
}

#startButton{
  width: 200px;
  height: 70px;
  position: absolute;
	top: 70%;
	left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

#resultText{
  position: absolute;
  text-align: center;
	top: 40%;
	left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 100px;
  color: #D64933;
}

#resultButtons{
  position: absolute;
	top: 80%;
	left: 50%;
  transform: translate(-50%, -50%);
}

#titleButton, #restartButton{
  text-align: center;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}

.flatButton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #EEF5DB;
  background-color: #7D84B2;
  border: solid 2px #7D84B2;
  border-radius: 3px;
  transition: .4s;
}

.flatButton:hover {
  background: #EEF5DB;
  color: #7D84B2;
  border: solid 2px #7D84B2;
}

.img-virus {
  width: 100px;
  height: 100px;
}

#time{
  margin-top: -180px;
  margin-right: 30px;
  text-align: right;
}

.game-time{
  font-size: 30px;
  color: #D64933;
}

.random{
  transition: .1s;
}

#game{
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: solid 2px #7D84B2;
}

.descriptionText{
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  color: #7D84B2;
}

.descriptionText .emphasis{
  color: #D64933;
  font-size: 70px;
}

#volume{
  width: 15%;
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 14px; /* バーの高さ */
  width: 100%; /* バーの幅 */
  background: #7d84b2ab; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #dfe2ff; /* バー周囲の線 */
}
/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #7D84B2; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #7D84B2; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
  border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}