* {
  margin:0; padding:0;
}

body{
  background-color: #c9ada1;
}

.box{
  vertical-align:middle;
}

#titleText{
  position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 100px;
  color: #3b1f2b;
}

#startButton{
  width: 200px;
  height: 70px;
  position: absolute;
	top: 70%;
	left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

#resultText{
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 150px;
  color: #3b1f2b;
}

#resultButtons{
  position: absolute;
	top: 80%;
	left: 50%;
  transform: translate(-50%, -50%);
}

#titleButton, #restartButton{
  text-align: center;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}

.flatButton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background-color: #73d2de;
  border: solid 2px #73d2de;
  border-radius: 3px;
  transition: .4s;
}

.flatButton:hover {
  background: #c9ada1;
  color: #73d2de;
  border: solid 2px #73d2de;
}

.img-virus {
  width: 100px;
  height: 100px;
}

#time{
  margin-top: 30px;
  margin-right: 30px;
  text-align: right;
}

.game-time{
  font-size: 30px;
  color: #3b1f2b;
}

.random{
  transition: .1s;
}